<!DOCTYPE html>
<html>
    <head>
        <style>
            {% include 'KorpusEventsBundle:Email:bootstrap.css.twig' %}
        </style>
    </head>
    <body>
        {% block email %}{% endblock %}
        
        <hr>
        Korpus GbR 2014
    </body>
</html>