{% extends "::base_2.html.twig" %}

{% block body %}

<span class="hidden" id="current-page">{% block currentpage %}{% endblock %}</span>
<span class="hidden" id="current-subpage">{% block currentsubpage %}{% endblock %}</span>

{% block content %}
{% endblock %}

{% endblock %}