{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block title %}Korpus &middot; Datenschutz{% endblock %}

{% block content %}

<legend>Datenschutz</legend>
<p>
    <strong>Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button)</strong><br>
    <br>
    Auf unseren Seiten sind Plugins des sozialen Netzwerks<br>
    <br>
    Facebook<br>
    1601 South California Avenue<br>
    Palo Alto<br>CA 94304<br>USA<br>
    <br>
    integriert.<br>
    <br>
    Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem "Like-Button" ("Gefällt mir“) auf unserer Seite.<br>
    Eine Übersicht über die Facebook-Plugins finden Sie hier: <a href="http://developers.facebook.com/docs/plugins/">http://developers.facebook.com/docs/plugins/</a><br>
    Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt.<br>
    Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben.<br>
    Wenn Sie den Facebook „Like-Button“ anklicken während Sie in Ihrem Facebook-Account eingeloggt sind,<br>
    können Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken.<br>
    Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen.<br>
    Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten.<br>
    Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von facebook unter <a href="http://de-de.facebook.com/policy.php">http://de-de.facebook.com/policy.php</a>.<br>
    <br>
    Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook-Nutzerkonto zuordnen kann,<br>
    loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
</p>
<br>
<p>
    <strong>Datenschutzerklärung für die Nutzung von Twitter-Plugins (tweet-Button)</strong><br>
    <br>
    Auf unseren Seiten sind Plugins des Kurznachrichtennetzwerks<br>
    <br>
    Twitter Inc.<br>
    795 Folsom St.<br>
    Suite 600<br>
    San Francisco<br>
    CA 94107<br>
    USA<br>
    integriert.<br>
    <br>
    Die Twitter-Plugins (tweet-Button) erkennen Sie an dem Twitter-Logo auf unserer Seite.<br>
    Eine Übersicht über den tweet-Button finden Sie hier: <a href="http://dev.twitter.com/">http://dev.twitter.com</a><br>
    Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Twitter-Server hergestellt.<br>
    Twitter erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben.<br>
    Wenn Sie den Twitter „tweet-Button“ anklicken, während Sie in Ihrem Twitter-Account eingeloggt sind,<br>
    können Sie die Inhalte unserer Seiten auf Ihrem Twitter-Profil verlinken.<br>
    Dadurch kann Twitter den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen.<br>
    Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Twitter erhalten.<br>
    Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Twitter unter <a href="http://twitter.com/privacy">http://twitter.com/privacy</a>.<br>
    <br>
    Wenn Sie nicht wünschen, dass Twitter den Besuch unserer Seiten Ihrem Twitter-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Twitter-Benutzerkonto aus.
</p>

{% endblock %}