{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block title %}Korpus &middot; Impressum{% endblock %}

{% block content %}

<legend>Impressum</legend>
<p>
    Dies ist die Website der Band Korpus.<br>
    Verantwortlich für den Inhalt der auf den zur Domain <a href="http://www.korpus-metal.de">www.korpus-metal.de</a><br>
    gehörenden Sites, aber nicht für verlinkungen zu externen Sites ist:<br>
    <br>
    <strong><span class="glyphicon glyphicon-book"></span> Domaininhaber</strong><br>
    <br>
    Florian Weber<br>
    Hochschulstrasse 6<br>
    01069 Dresden<br>
    <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:florian.weber.dd@me.com">florian.weber.dd@me.com</a>
    <br>
    <br>
    <strong><span class="glyphicon glyphicon-tint"></span> Design und Webmastering</strong><br>
    <br>
    IT-Dienstleistungen und Unternehmensberatung<br>
    Andreas Weber<br>
    Lessingstrasse 3<br>
    02991 Lauta OT Torno<br>
    <br>
    Ust-Identnummer: DE 248 241 289<br>
    <br>
    <a href="http://www.weber-elektronik.de/">weber-elektronik.de</a><br>
    <a href="info@weber-elektronik.de">info@weber-elektronik.de</a>
    <hr>
    Designed and built with <a href="http://getbootstrap.com" target="_blank">Bootstrap</a><br>
    Code licensed under Apache License v2.0, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.<br>
    Glyphicons Free licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
    <br>
    <br>
    Korpus-Event Badge originally by <a href="http://www.iconarchive.com/artist/mysitemyway.html">Mysiteway.com</a> on <a href="http://www.iconarchive.com/">IconArchive.com</a>.
    Licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
</p>

{% endblock %}