{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}kontakt{% endblock %}
{% block currentsubpage %}links{% endblock %}

{% block title %}Korpus &middot; Kontakt &middot; Links{% endblock %}

{% block content %}

{% include 'KorpusMainPageBundle::small-nav-kontakt.html.twig' %}

<br><br>

<table class="table">
    <tr>
        <td><strong>Bands:</strong></td>
    </tr>
    <tr>
        <td>Rogash</td>
        <td><a href="https://www.facebook.com/rogashmetal">https://www.facebook.com/rogashmetal</a></td>
    </tr>
    <tr>
        <td>Dubiosis</td>
        <td><a href="https://www.facebook.com/pages/DUBIOSIS/103968889690929?fref=ts">https://www.facebook.com/pages/DUBIOSIS/103968889690929?fref=ts</a></td>
    </tr>
    <tr>
        <td>Kali Yuga</td>
        <td><a href="https://www.facebook.com/kaliyugametal">https://www.facebook.com/kaliyugametal</a></td>
    </tr>
    <tr>
        <td>Days of Grace</td>
        <td><a href="http://www.daysofgrace.de/">http://www.daysofgrace.de/</a></td>
    </tr>
    <tr>
        <td>Vermin</td>
        <td><a href="http://www.vermin-music.de/">http://www.vermin-music.de/</a></td>
    </tr>
    <tr>
        <td>Arroganz</td>
        <td><a href="http://www.hellishhordes.com/">http://www.hellishhordes.com/</a></td>
    </tr>
    <tr>
        <td>Deserted Fear</td>
        <td><a href="http://www.desertedfear.de/">http://www.desertedfear.de/</a></td>
    </tr>
    <tr>
        <td><br><br><strong>Partners & Friends:</strong></td>
    </tr>
    <tr>
        <td>Blacksmith Records</td>
        <td><a href="http://www.blacksmithrecords.eu/">http://www.blacksmithrecords.eu/</a></td>
    </tr>
    <tr>
        <td>Skullcrusher Dresden e.V.</td>
        <td><a href="http://www.skullcrusher-dresden.de/">http://www.skullcrusher-dresden.de/</a></td>
    </tr>
    <tr>
        <td>Chronical Moshers</td>
        <td><a href="http://metalclub-reichenbach.de/">http://metalclub-reichenbach.de/</a></td>
    </tr>
    <tr>
        <td>On The Rocks Zwickau</td>
        <td><a href="http://www.ontherocks-zwickau.de/">http://www.ontherocks-zwickau.de/</a></td>
    </tr>
    <tr>
        <td>Sprengies World</td>
        <td><a href="http://www.sprengies-world.de/">http://www.sprengies-world.de/</a></td>
    </tr>
    <tr>
        <td><br><br><strong>Locations & Events:</strong></td>
    </tr>
    <tr>
        <td>Heavy Duty Dresden</td>
        <td><a href="http://www.heavyduty-dresden.de/">http://www.heavyduty-dresden.de/</a></td>
    </tr>
    <tr>
        <td>Kulturfabrik Hoyerswerda</td>
        <td><a href="http://www.kufa-hoyerswerda.de/">http://www.kufa-hoyerswerda.de/</a></td>
    </tr>
    <tr>
        <td>Iron Eagle Lugau</td>
        <td><a href="http://iron-eagle-lugau.de/">http://iron-eagle-lugau.de/</a></td>
    </tr>
    <tr>
        <td>Evolution of Metal</td>
        <td><a href="http://www.evolution-of-metal.de/">http://www.evolution-of-metal.de/</a></td>
    </tr>
    <tr>
        <td>In Flammen Open Air</td>
        <td><a href="http://www.in-flammen.com/">http://www.in-flammen.com/</a></td>
    </tr>
    <tr>
        <td>Dark Moon Open Air</td>
        <td><a href="http://darkmoonfestival.de/">http://darkmoonfestival.de/</a></td>
    </tr>
    <tr>
        <td>Rock am Wehr</td>
        <td><a href="http://www.rock-am-wehr.com/">http://www.rock-am-wehr.com/</a></td>
    </tr>
    <tr>
        <td>Wonnemond Festival</td>
        <td><a href="http://www.wonnemond-festival.de/">http://www.wonnemond-festival.de/</a></td>
    </tr>
</table>

{% endblock %}