{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}media{% endblock %}
{% block currentsubpage %}lyrics{% endblock %}

{% block title %}Korpus &middot; Media &middot; Lyrics{% endblock %}

{% block content %}

{% include 'KorpusMainPageBundle::small-nav-media.html.twig' %}

<br>
<div class="centered">
    <strong>Coming Soon!</strong>
</div>

{% endblock %}