{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}merch{% endblock %}
{% block currentsubpage %}merch{% endblock %}

{% block title %}Korpus &middot; Merch{% endblock %}

{% block content %}

<br>
<div class="centered">
    <strong>Die Merchabteilung wird momentan Aktualisiert<br>und ist bald wieder verfügbar</strong>
</div>

{% endblock %}