{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}merch{% endblock %}
{% block currentsubpage %}merch{% endblock %}

{% block title %}Korpus &middot; Merch{% endblock %}

{% block content %}
    
    <div class="text-center">
        {% for i, group in groups %}
            <a href="{{ path('korpus_main_page_merch_cat', {catId: group.id}) }}">
                <img src="http://placehold.it/250x250" class="img-thumbnail img-responsive article-cat-img">
            </a>
        {% endfor %}
    </div>

{% endblock %}