{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}news{% endblock %}

{% block content %}

<div class="news-post">
    <span class="headline">{{newspost.title}}</span>    
    <span class="pull-right"><span class="date">//{{newspost.publishDate|date("d.m.Y G:i")}}</span></span>
    <br><br>
    <p class="text">{{newspost.text|nl2br}}</p>
</div>

{% endblock %}