{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}media{% endblock %}
{% block currentsubpage %}photos{% endblock %}

{% block title %}Korpus &middot; Media &middot; Fotos{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ asset('assets/css/jquery.googleslides.css') }}" />
<script src="{{ asset('assets/js/lib/jquery.googleslides.js') }}"></script>

{% include 'KorpusMainPageBundle::small-nav-media.html.twig' %}
<a name="top"></a>
<br>
<div class="centered">    
    <a href="#summernight-inferno-2013">Summernight Inferno 2013</a> &middot; 
    <a href="#heavy-duty-2013">Heavy Duty 2013</a> &middot; 
    <a href="#death-sentences-2012">Death Sentences 2012</a> &middot; 
    <a href="#cmoa11">Chronical Moshers OA 2011</a>
    <br>
    <br>
    <br>
    <div class="">
        <a name="summernight-inferno-2013"></a><strong>Summernight Inferno 2013</strong> <a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
        <div id="slide3">
        </div>
        <br>
        <a name="heavy-duty-2013"></a><strong>Heavy Duty 2013</strong> <a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
        <div id="slide2">
        </div>
        <br>
        <a name="death-sentences-2012"></a><strong>Death Sentences 2012</strong> <a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
        <div id="slide4">
        </div>
        <br>
        <a name="cmoa11"></a><strong>Chronical Moshers OA 2011</strong> <a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
        <div id="slide1">
        </div>
    </div>
</div>

{% endblock %}