{% extends 'KorpusMainPageBundle::layout.html.twig' %}

{% block currentpage %}media{% endblock %}
{% block currentsubpage %}photos{% endblock %}

{% block title %}Korpus &middot; Media &middot; Fotos{% endblock %}

{% block content %}

{% include 'KorpusMainPageBundle::small-nav-media.html.twig' %}
<a name="top"></a>
<br>
<div class="centered">    
    <a href="#summernight-inferno-2013">Summernight Inferno 2013</a> &middot; 
    <a href="#heavy-duty-2013">Heavy Duty 2013</a> &middot; 
    <a href="#cmoa11">Chronical Moshers OA 2011</a>
    <br>
    <br>
    <br>
    <div class="">
        <a name="summernight-inferno-2013"></a><strong>Summernight Inferno 2013</strong> <a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
        <div id="slide3">
        </div>
        <br>
        <a name="heavy-duty-2013"></a><strong>Heavy Duty 2013</strong> <a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
        <div id="slide2">
        </div>
        <br>
        <a name="cmoa11"></a><strong>Chronical Moshers OA 2011</strong> <a href="#top"><span class="glyphicon glyphicon-circle-arrow-up"></span> Top</a>
        <div id="slide1">
        </div>
    </div>
</div>

{% endblock %}