<div class="sidebar-wrapper">
    
    <div class="visible-sm visible-xs">
        <hr>
    </div>
    
    <div class="sidebar-content">
        <h4>Social Media</h4>

        <div class="social-media">
            <div class="facebook">
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fkorpusmetal&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=verdana&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px;" allowTransparency="true"></iframe>
            </div>
            <div class="twitter">            
                <a href="https://twitter.com/KORPUS_METAL" class="twitter-follow-button" data-show-count="false" data-lang="de" data-show-screen-name="false">@KORPUS_METAL folgen</a>
                <script>!function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                    if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + '://platform.twitter.com/widgets.js';
                    fjs.parentNode.insertBefore(js, fjs);
                    }
                    }(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="lastfm">
                <a href="http://www.lastfm.de/music/Korpus"><img src="http://cdn.last.fm/flatness/badges/lastfm_red_small.gif" /></a>
            </div>
        </div>
        <br>
        <h4>Ebenbild</h4>
        <div class="current-record">
            <img src="{{ asset('assets/img/layout/ebenbild.jpg') }}" class="img-thumbnail">
        </div>
        <br>
        <h4>Konzerte <small>Alle <a href="{{ path('korpus_main_page_live') }}"><span class="glyphicon glyphicon-share-alt"></span></a></small></h4>
        <div id="next-concerts">
            {% render url('korpus_main_page_next_concerts', { 'max': 3 }) %}
        </div>
        
    </div>

</div>