
<div class="navigator-small centered">
    <a class="nav-link" id="nls-bio" href="{{ path('korpus_main_page_bio') }}">Bio</a>
    <a class="nav-link" id="nls-member" href="{{ path('korpus_main_page_member', {name: null}) }}">Mitglieder</a>
</div>