
<div class="navigator-small centered">
    <a class="nav-link" id="nls-concerts" href="{{ path('korpus_main_page_live') }}">Konzerte</a>
    <a class="nav-link" id="nls-events" href="{{ path('korpus_main_page_live_events') }}">Events</a>
</div>