
<div class="navigator-small centered">
    <a class="nav-link" id="nls-audio" href="{{ path('korpus_main_page_audio') }}">Audio</a>
    <a class="nav-link" id="nls-video" href="{{ path('korpus_main_page_video') }}">Video</a>
    <a class="nav-link" id="nls-lyrics" href="{{ path('korpus_main_page_lyrics') }}">Lyrics</a>
    <a class="nav-link" id="nls-photos" href="{{ path('korpus_main_page_photos') }}">Fotos</a>
</div>