
<div class="navigator-small centered">
    <a class="nav-link" id="nls-booking" href="{{ path('korpus_main_page_kontakt_booking') }}">Booking</a>
    <a class="nav-link" id="nls-links" href="{{ path('korpus_main_page_kontakt_links') }}">Links</a>
</div>