{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% block currentpage %}dashboard{% endblock %}

{% block content %}

<h2>Console Dashboard</h2>

<div class="row">
    <div class="col-lg-6">
        <div class="well well-sm">
            <h3>News</h3>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="well well-sm">
            <h3>Konzert</h3>
        </div>
    </div>
</div>

{% endblock %}