{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% block currentpage %}cms{% endblock %}
{% block currentsubpage %}news{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li>CMS</li>
    <li><a href="{{ path('korpus_console_cms_news') }}">News</a></li>
    <li class="active">Löschen</li>
</ol>

<div class="alert alert-danger">
    Wollen Sie wirklich den NewsPost <strong>'{{post.title}}'</strong> löschen?
    <div class="pull-right">
        <form method="post" action="{{ path('korpus_console_cms_news_delete', {slug: post.slug}) }}">
            <input type="hidden" value="1" name="delete">
            <button type="submit" class="btn btn-danger">Ja</button> <a class="btn btn-success" href="{{ path('korpus_console_cms_news') }}">Nein</a>
        </form>
    </div>
    <br><br>
</div>

{% endblock %}