{# empty Twig template #}

<h4>Text-Tools</h4>
<a href="#" data-toggle="popover" id="btn-add-link" class="btn btn-default" title="Link einfügen"><span class="glyphicon glyphicon-link"></span></a>
<div class="hidden" id="add-link-content">
    <form role="form" id="form-add-link">
        <div class="form-group">
            <label for="input-add-link-text">Link-Text</label>
            <input type="text" class="form-control" id="input-add-link-text" />
        </div>
        <div class="form-group">
            <label for="input-add-link-url">Link-URL</label>
            <input type="text" class="form-control" id="input-add-link-url" />
        </div>
        <div class="form-group">
            <label for="input-add-link-title">Link-Titel (optional)</label>
            <input type="text" class="form-control" id="input-add-link-title" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm btn-block">Einfügen</button>
        </div>
    </form>

</div>