{% extends 'KorpusConsoleBundle::layout.html.twig' %}

{% form_theme form 'KorpusConsoleBundle:Form:fields.html.twig' %}

{% block currentpage %}cms{% endblock %}
{% block currentsubpage %}{{subpage}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li>CMS</li>
    <li><a href="{{backpath}}">{{pagename}}</a></li>
    <li class="active">Bearbeiten</li>
</ol>

<div class="row">
    <div class="col-lg-8">
        {{form(form)}}
    </div>
    <div class="col-lg-4">
    {% if subpage == 'news' or subpage == 'concert' %}
        {% include 'KorpusConsoleBundle:CMS:text_toolbox.html.twig' %}
    {% endif %}
    </div>
</div>

{% endblock %}